body {
  background-color: green;
}

.carta {
  /* display: inline-block; */
  margin: auto;
  margin-top: 60px;
  height: 300px;
  width: 200px;
  background: white;
  border-radius: 4px;
  border: 1px solid black;
  padding-top: 20px;
  position: relative;
}

.superior {
  position: absolute;
  top: 2px;
  left: 2px;
  font-size: 50px;
  margin-top: 2px;
  margin-left: 15px;
}

.inferior {
  position: absolute;
  bottom: 2px;
  right: 2px;
  font-size: 50px;
  margin-bottom: 2px;
  margin-right: 15px;
  -webkit-transform: rotate(-180deg);
}

.medio {
  text-align: center;
  font-size: 80px;
  padding-top: 10px;
}
